@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --background_white: #f5f5f5;
  --white: #ffffff;
  --bright_blue: #007bff;
  --dark_blue: #0056b3;
  --black: #1c1c1c;
  --grey: #aaaaaa;
  --light_grey: #cccccc;
  --dark_grey: #9a9a9a;
  --bright_red: #ff4d4d;
  --dark_red: #b22222;

  --navbar_height: 60px;
  --sidenavigation_width: 300px;

  font-family: "Inter", sans-serif;

  color: var(--black);

  margin: 0px;
  padding: 0px;

  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background_white);
}

::-webkit-scrollbar-thumb {
  background: var(--grey);

  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark_grey);
}
