.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.sidenavigation {
  position: fixed;
  top: calc(var(--navbar_height) + 1px);
  left: 0px;

  display: flex;
  flex-direction: column;

  width: var(--sidenavigation_width);
  height: calc(100vh - var(--navbar_height));

  background-color: var(--white);

  border-right: 1px solid var(--light_grey);

  box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.1);
}

.panel {
  width: calc(100vw - var(--sidenavigation_width));
  height: calc(100vh - var(--navbar_height));

  margin-left: var(--sidenavigation_width);
  margin-bottom: 15px;

  padding-right: 5px;

  background-color: var(--background_white);

  overflow-y: scroll;
}

.sidenavigationbutton {
  width: 100%;

  padding: 15px;
  padding-left: 25px;

  text-align: left;
  text-decoration: none;

  color: var(--black);
  background-color: var(--transparent);

  font-size: 1rem;

  border: none;
  border-bottom: 1px solid var(--light_grey);

  cursor: pointer;
}

.sidenavigationbuttonactive {
  color: var(--white);
  background-color: var(--bright_blue);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  width: calc(100%) - 60px;

  padding: 15px;
  margin: 15px;
  margin-right: 10px;

  background-color: var(--white);

  border-radius: 15px;
  border: 1px solid var(--light_grey);

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
