.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(calc(100vh - 60px) - 60px);

  background-color: var(--background_white);
}

.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 400px;
  height: 400px;

  padding: 25px;

  background-color: var(--white);

  border-radius: 15px;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.loginform {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;
}

.loginbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  background-color: var(--bright_blue);
  color: var(--white);

  font-size: 1.2rem;
  font-weight: 600;

  border: none;
  border-radius: 15px;

  cursor: pointer;
}

.loginbutton:hover {
  background-color: var(--dark_blue);
}

.loginlabel {
  display: inline-block;
  width: 100%;

  font-size: 1.2rem;
  font-weight: 600;
}

.logininput {
  display: block;

  padding: 15px;

  font-size: 16px;

  color: var(--black);
  background-color: var(--background_white);

  border: 1px solid var(--grey);
  border-radius: 15px;

  outline: none;

  transition: border-color 0.3s, box-shadow 0.3s;
}

.logininput:focus {
  border-color: var(--bright_blue);
}

.logininput::placeholder {
  color: var(--grey);

  font-style: italic;
}
